div.colophon {
    width:25em;
    float:right;
    border:1px solid #ccc;
    background:#f0f0f0;
}

div.colophon div {
    float:left;
    width:100%;
    padding:0.25em;
}

#user_nav {
    top:5px;
    text-align:right;
    width:auto;
    margin-right:1%;
    float:right;
    font-size:12px;
}
