#as_xml_iframe {
    float:right;
}

div.save {
    margin:1em;
}

h2 {
    width:auto;
    float:left;
    margin-right:1em;
}

div {
    width:100%;
}

div.colophon {
    width:auto;
    background: #f0f0f0;
    padding:0.25em;
    white-space:nowrap;
    float:right;
}